<h1>About</h1> 

<h2>What is Dash?</h2>

<p>Dash is a new self-service tool for researchers to describe, upload, and share their research data. It is designed to be a simple self-service curation tool for researchers, and helps them perform the following tasks:</p>
<ul>
  <li>Prepare data for curation by reviewing best practice guidance for the creation or acquisition of digital research data.</li>
  <li>Select data for curation through local file browse or drag-and-drop operation.</li>
  <li>Describe data in terms of the DataCite metadata schema.</li>
  <li>Identify data with a persistent digital object identifier (DOI) for permanent citation and discovery.</li>
  <li>Preserve, manage, and share data by uploading to a public <a href="https://merritt.cdlib.org">Merritt repository</a> collection.</li>
  <li>Discover and retrieve data through faceted search and browse.</li>
</ul>


<h2>There are two versions of Dash: UC Dash and DataONE Dash</h2>

<p><strong>UC Dash</strong> is targeted for use by the 10 University of California campuses. There are currently five live instances of UC Dash:</p>
<ul>
<li><a href="https://dash.berkeley.edu">UC Berkeley</a></li>
<li><a href="https://dash.lib.uci.edu">UC Irvine</a></li>
<li><a href="https://dash.ucla.edu">UCLA</a></li>
<li><a href="https://dash.ucmerced.edu">UC Merced</a></li>
<li><a href="https://dash.ucop.edu">UC Office of the President</a></li>
</ul>
<p><a href="https://oneshare.cdlib.org"><strong>DataONE Dash</strong></a> is a separate service, operated by CDL in collaboration with the <a href="http://dataone.org">DataONE project</a>, that is open to the non-UC research community. ONEShare is the name of the curation repository underlying DataONE Dash.</p>


<h2>Project Links</h2>

<ul>  
  <li>Read more about the code, the project, and contributing to development on the <a href="http://cdluc3.github.io/dash">Dash GitHub site</a></li>
  <li>Log enhancements or bugs on the <a href="http://github.com/cdluc3/dash/issues">Dash GitHub Issues page</a></li>
  <li>Check out our Dash <a href="http://facebook.com/UC3Dash">Facebook</a>, <a href="https://plus.google.com/105054484560267661110">Google+</a> and <a href="http://twitter.com/UC3Dash">Twitter</a> accounts.</li>
  <li>Read about our <a href="http://cdluc3.github.io/dash/site-descriptors">Site Descriptors</a> project to develop a way to cite research stations.</li>
  <li>Check out the <a href="http://datapub.cdlib.org">Data Pub blog</a> for updates and data news.</li>
  <li><a href="http://escholarship.org/uc/item/2mw6v93b">Read our funded proposal</a> to the Alfred P. Sloan Foundation to improve the Dash interface and functionality.</li>
</ul>


<h2>Importance of Data Sharing</h2>

<p>Data sharing is critical for the advancement of knowledge. Researchers benefit from increased collaborations, validation and recognition of their work; institutions and funders benefit from the measurable increase in the impact of their resources; and society benefits from the faster pace at which research can progress. There are several barriers to providing access to data, and currently data sharing is mostly done by large, well funded multi-investigator projects. If these barriers were addressed, allowing individual investigators to easily and quickly share their primary research data, we could create a new culture of transparency and efficiency&#8212;likely resulting in major impacts on knowledge advancement.</p>


<h2>Who We Are</h2>

<p>UC Dash is a collaborative project between the <a href="http://libraries.universityofcalifornia.edu">UC Libraries</a> and the <a href="http://cdlib.org/uc3">UC Curation Center</a> (UC3) at the <a href="http://cdlib.org">California Digital Library</a>.</p>














