<h1>About</h1> 
<h2>What is Dash?</h2>
<p>
  Dash is a collaborative project between the <%= link_to 'UC Libraries', "http://libraries.universityofcalifornia.edu/" %> 
  and the <%= link_to 'UC Curation Center', "http://cdlib.org/uc3" %>.
</p>

<h1>Guidelines and Policies</h1>
<h2>Content Policy</h2>

<h2>Deposit Policy</h2>

<h2>Guidelines for Visibility (Access Levels) and Sharing</h2>

<h2>Preservation Support Policy</h2>