<h2>Dash User Support</h2>
<p> This is the Dash user support </p>

<h2 id="faq">Frequently Asked Questions</h2>

<b>Who can deposit data into Dash?</b>
<p>Researchers from University of California partner campuses can use their campus credentials to deposit data into their campus instance of Dash (see the <a href="https://dash.cdlib.org">list of campus partners</a>). Researchers from outside of the UC or from non-partner campuses can use Google credentials to deposit data via <a href="https://oneshare.cdlib.org">DataONE Dash</a>.</p>

<b>What is the relationship between DataONE Dash, ONEShare, and UC Dash?</b>
<p>Dash is public online service for curating research data supported by the <a href="http://cdlib.org">California Digital Library</a> (CDL). There are two versions of Dash: 1) UC Dash and 2) DataONE Dash. UC Dash is targeted for use by the 10 University of California campuses. DataONE Dash is a separate service, operated by CDL in collaboration with the <a href="http://dataone.org">DataONE project</a>, that is open to the non-UC research community. ONEShare is the name of the curation repository underlying DataONE Dash.</p>

<b>Who can access datasets in Dash?</b>
<p>Data submitted to DataONE Dash are in the public domain under a <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Universal waiver</a> (CC0); there are no restrictions on use, reuse, or repurposing the data.</p>
<p>Data submitted to UC Dash are released under the terms of the <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution license</a> (CC-BY-4.0). This means anyone can access the datasets, download them, and use them provided they give proper attribution.</p>
<p>Although many researchers would prefer to maintain more control over who downloads and uses their data, we believe that having data that are fully open is the best way to enable academic advancement. Read the <a href="http://pantonprinciples.org/">Panton Principles for Open Data in Science</a> for more information.</p>

<b>Do you support data embargoes or restricted access?</b>
<p>
  Not at this time. We do, however, have plans to expand the Dash functionality to include both. If you have specific requests for functionality, please add it to our <a href="http://github.com/cdluc3/dash/issues"> GitHub Issues page</a>.
</p>

<b>What do I need to submit the data?</b>
<ul>
  <li>Permission from the appropriate PI(s)</li>
  <li>Information about the dataset, including dataset title, authors, keywords, and an abstract</li>
  <li>Access to files comprising the data set</li>
</ul>

<b>Are there any file format requirements?</b>
<p>No. Files of any type are acceptable for deposit. Ideally, file types will be non-proprietary. If you have files of a specialized or proprietary nature, be sure they are accompanied by any pertinent information that would allow the proper viewing and/or usage of the file. This information could be stored in the "Methods" section of the metadata, or as a separate "Readme" document archived alongside the dataset files.</p>

<b>What best practices can I follow for data preparation?</b>
<p>There are a variety of best practices depending on your field of research. For generic help, see the <a href="http://www.dataone.org/sites/all/documents/DataONE_BP_Primer_020212.pdf">DataONE Primer on Data Management Best Practices</a> (PDF). Generally,</p>
<ul>
  <li>Ensure data files are the most up-to-date and complete versions</li>
  <li>Ensure the integrity of data files (check if corrupted)</li>
  <li>Ensure that all data relating to human subjects has been properly de-identified</li>
  <li>Double-check the accuracy of the descriptive metadata</li>
  <li>Enter as much descriptive metadata as possible in the indexing fields</li>
  <li>Ensure that any information critical to the proper viewing and/or usage of the data is included in the submission (e.g., as a separate "Readme" file)</li>
</ul>

<b>For how long will the data be available?</b>
<p>Once you have deposited data, it is permanently archived and available through the <a href="http://cdlib.org">California Digital Library</a>'s <a href="https://merritt.cdlib.org">Merritt Repository</a>. See our Policies</a> page for more information.</p>

<b>Can I update my data?</b>
<p>Yes, you can add new versions of your data.</p>

<b>How will someone find my data?</b>
<p>Metadata will be indexed by the <a href="http://wokinfo.com/products_tools/multidisciplinary/dci/about/">Thomson-Reuters Data Citation Index</a> and <a href="http://www.elsevier.com/online-tools/scopus">Scopus</a>.  All datasets in Dash are given a unique Digital Object Identifier or DOI. Entering the DOI URL in any browser will take the user to the dataset's landing page in Dash. Dash also provides a faceted search and browse capability for direct discovery.</p>

<b>Do the data have to be associated with a publication?</b>
<p>No. Dash accepts all quality data, regardless of whether they have been used to publish a paper.</p>

<b>Do I need to log into Dash to get data?</b>
<p>Persons requesting data are not required to sign-in in order to do so.</p>

<b>Do I have to pay for data?</b>
<p>No,  these data are made publicly available free of charge.</p>

<b>What if I have questions about the data?</b>
<p>Please <a href="/contact">contact us</a> with any questions about the data.</p>


