<div id="footer-wrapper" class="row-fluid">
  <div id="footer">
    <div class="col-xs-6 footer-logo">
      <span class="logo"><a href="/"><span class="logoBold">UC3 </span>Dash</a></span>
      <!-- <span class="version"><a href="/versions/"><%#= ScholarSphere::Application::config.scholarsphere_version %></a></span> -->
      <span class="version">v1.0</span>
      <p>A service of the  University of California Curation Center of the California Digital Library.</p>
    </div>
    <div class="col-xs-6 footer-text">
      <p><strong>Copyright &copy; 2015 UC3</strong></p>
      <ul>
        <li><a href="http://libraries.universityofcalifornia.edu/">UC Libraries</a>&nbsp;&#124;&nbsp;</li>
        <li><a href="http://cdlib.org/uc3">UC Curation Center</a>&nbsp;&#124;&nbsp;</li>
        <li><a href="http://www.ucop.edu/">University of California Office of the President</a>&nbsp;&#124;&nbsp;</li>
        <li><a href="#">Accessibility</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div><!-- /footer -->
</div><!-- /footer-wrapper -->
